<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.toni.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>com.toni.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.toni.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/users/create</url-pattern>
    <url-pattern>/users/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilesServlet</servlet-name>
    <servlet-class>com.toni.servlets.ProfilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilesServlet</servlet-name>
    <url-pattern>/profiles</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestsServlet</servlet-name>
    <servlet-class>com.toni.servlets.RequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsServlet</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormationsServlet</servlet-name>
    <servlet-class>com.toni.servlets.FormationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationsServlet</servlet-name>
    <url-pattern>/formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormationTypesServlet</servlet-name>
    <servlet-class>com.toni.servlets.FormationTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationTypesServlet</servlet-name>
    <url-pattern>/formationTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EditRequestServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRequestServlet</servlet-name>
    <url-pattern>/requests/edit</url-pattern>
    <url-pattern>/requests/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.toni.servlets.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomersServlet</servlet-name>
    <servlet-class>com.toni.servlets.CustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersServlet</servlet-name>
    <url-pattern>/customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/customers/edit</url-pattern>
    <url-pattern>/customers/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFormationServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditFormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFormationServlet</servlet-name>
    <url-pattern>/formations/edit</url-pattern>
    <url-pattern>/formations/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/profiles/edit</url-pattern>
    <url-pattern>/profiles/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypologiesServlet</servlet-name>
    <servlet-class>com.toni.servlets.TypologiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypologiesServlet</servlet-name>
    <url-pattern>/typologies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTypologyServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditTypologyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTypologyServlet</servlet-name>
    <url-pattern>/typologies/edit</url-pattern>
    <url-pattern>/typologies/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFormationTypeSevlet</servlet-name>
    <servlet-class>com.toni.servlets.EditFormationTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFormationTypeSevlet</servlet-name>
    <url-pattern>/formationTypes/edit</url-pattern>
    <url-pattern>/formationTypes/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>com.toni.servlets.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/roles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditRoleServlet</servlet-name>
    <servlet-class>com.toni.servlets.EditRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleServlet</servlet-name>
    <url-pattern>/roles/create</url-pattern>
    <url-pattern>/roles/edit</url-pattern>
  </servlet-mapping>
</web-app>